#mapContainer {
  height: 500px;
  width: 500px;
  background: lightgray;
  margin-right: 15%;
}

body {
background-color: #4D4D4D;
background-image: url("https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 0% 100%;
background-size: cover;
font-family: sans-serif;
font-size: 20px
color: #FFFFFF;
margin-left: 40px;
}
