#mapContainer {
  height: 400px;
  width: 400px;
  background: lightgray;
  margin: 0 auto;
}

body {
background-color: black;
background-image: url("https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 0% 0%;
background-size: contain;
font-family: sans-serif;
font-size: 20px
color: #FFFFFF;
}
